%nav.p-4.flex.items-center.justify-around.flex-wrap.bg-green-500
    %div
        =link_to "Logo", root_path, class: 'text-white logo-font text-2xl px-2 mr-4'
    %div{class:'block sm:hidden flex-shrink-0'}
        %button{class:'flex items-center px-3 py-2 border border-none border-transparent', id:'boton'}
            =image_pack_tag "media/images/menu.svg", class:'h-12 w-12'
    %div{class:'w-full hidden lg:w-auto sm:block', id:'menu'}
        %div{class:'text-sm lg:flex-grow'}
            =link_to "Link 1", root_path, id:'responsive-header', class:'block mt-4 text-white lg:inline-block lg:mt-0 lg:mr-4'
            =link_to "Link 2", root_path, id:'responsive-header', class:'block text-white mt-4 lg:inline-block lg:mt-0 lg:mr-4'
            =link_to "Link 3", root_path, id:'responsive-header', class:'block mt-4 text-white mb-3 md:mb-0 lg:inline-block lg:mt-0 lg:mr-4'
            =link_to 'Iniciar Sesion', new_user_session_path, class:'inline-block text-sm px-4 py-4 leading-none rounded text-white border border-white hover:border-transparent hover:text-green-500 hover:bg-white sm:hidden'
    %div
        =link_to 'Iniciar Sesion', new_user_session_path, class:'inline-block text-sm px-4 py-4 leading-none rounded text-white border border-white hidden hover:border-transparent hover:text-green-500 hover:bg-white md:block'
    = javascript_pack_tag 'main'
