.bg-gray-500.h-screen
    .max-w-full.flex.items-center.justify-center
        %h1.text-3xl.font-extrabold.mx-auto "un texto chingon"
        .flex-shink-0
            .inline-flex.rounded-md.shadow
                =link_to 'un link', root_path, class:'inline-flex items-center'
            .inline-flex.rounded-md.shadow
                =link_to 'otro link', root_path, class:'inline-flex items-center'
