.flex.p-6
    .flex-none.w-44.relative
        =image_pack_tag "media/images/shopping.jpg", class:'absolute inset-0 w-full h-full object-cover rounded-lg'
    %form.flex-auto.pl-6
        .flex.flex-wrap.items-baseline
            %h1.w-full.flex-none.font-semibold.mb-2.5 Bolsa Calavera
            .text-4xl.leading-7.font-bold.text-purple-500
                $99.9