@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";


.logo-font{
    font-family: 'Lobster Two', cursive;
}

.main-image{
    height: 500px;
}

.clase{
    margin-top: 1em;
}